.top-content{

    width: 100%;
    height: 50%;

}
.left-container{
    background-color: cyan;
    float: left;

}
.right-container{
    background-color: crimson;
    padding-top: 20px;
}
.bottom-content{
    margin-top: 50px;
    height: 50%;
width: 100%;

}
.save_btn{
    background-color: #1d3557;
    color: white;

}
.save_btn:hover{
    color: red;
    border:4px solid white;
}
.cancel_btn{
    background-color: #1d3557;
    color: white;
}
.cancel_btn:hover{
    color: red;
    border:4px solid white;
}

.right-container .input-group-text{
    background-color: #1d3557;
    color: white;
}
.right-container .container{
    padding-top: 10px;
}
.flat-images{

}